<?xml version="1.0"?>
<ruleset name="API Skeletons" namespace="API-Skeletons\CS\Standard">
    <description>v1.0 Coding Standard for API Skeletons</description>
    <arg name="colors"/>
    <arg name="report" value="summary"/>
    <arg value="sp"/>
    <file>src</file>
    <exclude-pattern type="relative">Bootstrap.php</exclude-pattern>
    <exclude-pattern type="relative">*/data/*</exclude-pattern>
    <rule ref="PSR1"/>
    <rule ref="PSR2"/>
    <rule ref="Generic.Arrays.ArrayIndent"/>
    <rule ref="Generic.Arrays.DisallowLongArraySyntax"/>
    <rule ref="Generic.CodeAnalysis.JumbledIncrementer"/>
    <rule ref="Generic.CodeAnalysis.UselessOverridingMethod"/>
    <rule ref="Generic.Commenting.Fixme"/>
    <rule ref="Generic.Commenting.Todo"/>
    <rule ref="Generic.ControlStructures.InlineControlStructure"/>
    <rule ref="Generic.Formatting.SpaceAfterNot"/>
    <rule ref="Generic.Formatting.NoSpaceAfterCast"/>
    <rule ref="Generic.NamingConventions.ConstructorName"/>
    <rule ref="Generic.NamingConventions.CamelCapsFunctionName"/>
    <rule ref="Generic.NamingConventions.UpperCaseConstantName"/>
    <rule ref="Generic.PHP.DisallowShortOpenTag"/>
    <rule ref="Generic.PHP.DisallowAlternativePHPTags"/>
    <rule ref="Generic.WhiteSpace.DisallowTabIndent"/>
    <rule ref="./vendor/api-skeletons/coding-standard/phpcs/Sniffs/Strings/ConcatenationSpacingSniff.php"/>
</ruleset>
