<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./test/Bootstrap.php">
    <testsuites>
        <testsuite name="GraphQL">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <directory suffix=".php">./config</directory>
            <exclude>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <ini name="memory_limit" value="-1" />
    </php>
</phpunit>
